.common-inner {
  padding-left: $gutter-desktop;
  padding-right: $gutter-desktop;

  @include mobile {
    padding-left: $gutter-mobile;
    padding-right: $gutter-mobile;
  }

  @include mobile-small {
    padding-left: $gutter-mobile-small;
    padding-right: $gutter-mobile-small;
  }
}
