* {
  box-sizing: border-box;
}

#wrap {
  min-width: 320px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

::selection {
  color: $color-black;
  background-color: $color-primary;
}

html {
  scrollbar-width: none;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Roobert', sans-serif;
  font-size: 14px;
  line-height: 1.42;
  color: $color-white;
  background-color: $color-black;
  &.is-loading {
    cursor: wait;
  }
}

::-webkit-scrollbar {
  display: none;
}

// cursor
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index--cursor;
  mix-blend-mode: difference;
  pointer-events: none;

  .is-loading & {
    display: none;
  }

  @media (hover: none) {
    display: none;
  }

  &__pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $color-white;
    transition-property: width, height;
    transition-duration: .2s;
    transition-timing-function: ease-out;

    .is-hover & {
      width: 4rem;
      height: 4rem;
    }
  }
}