@font-face {
  font-family: 'Clashgrotesk';
  src: url('../fonts/652543d0c2dced4668a2dffa_ClashGrotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Clashgrotesk';
  src: url('../fonts/652543d0be446ec35a6e2547_ClashGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Clashgrotesk';
  src: url('../fonts/652543d0c39816cbb3288594_ClashGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roobert';
  src: url('../fonts/65253e008b6c40e26642b4d4_Roobert-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}