.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .common-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $gutter-desktop;
  }
  &__logo {
    a {
      display: block;
      font-family: 'Neue Montreal';
      font-size: 25px;
      font-weight: 500;
    }
  }
}

.global-nav {
  &__list {
    display: flex;
    column-gap: 75px;
  }

  &__link {
    display: block;
    font-size: 18px;
    color: $color-gray;
    transition: color .3s;
    &:hover {
      color: $color-white;
    }
  }
}