/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: top;
}

input, select, button {
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
}

button {
  padding: 0;
  cursor: pointer;
  outline: none;
}

* {
  box-sizing: border-box;
}

#wrap {
  min-width: 320px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

::-moz-selection {
  color: #000;
  background-color: #cf0;
}

::selection {
  color: #000;
  background-color: #cf0;
}

html {
  scrollbar-width: none;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Roobert", sans-serif;
  font-size: 14px;
  line-height: 1.42;
  color: #fff;
  background-color: #000;
}
body.is-loading {
  cursor: wait;
}

::-webkit-scrollbar {
  display: none;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  mix-blend-mode: difference;
  pointer-events: none;
}
.is-loading .cursor {
  display: none;
}
@media (hover: none) {
  .cursor {
    display: none;
  }
}
.cursor__pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #fff;
  transition-property: width, height;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.is-hover .cursor__pointer {
  width: 4rem;
  height: 4rem;
}

@font-face {
  font-family: "Clashgrotesk";
  src: url("../fonts/652543d0c2dced4668a2dffa_ClashGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clashgrotesk";
  src: url("../fonts/652543d0be446ec35a6e2547_ClashGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Clashgrotesk";
  src: url("../fonts/652543d0c39816cbb3288594_ClashGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roobert";
  src: url("../fonts/65253e008b6c40e26642b4d4_Roobert-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("../fonts/PPNeueMontreal-Variable.ttf") format("truetype");
  font-display: swap;
}
.common-inner {
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (max-width: 767px) {
  .common-inner {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media screen and (max-width: 479px) {
  .common-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header .common-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.header__logo a {
  display: block;
  font-family: "Neue Montreal";
  font-size: 25px;
  font-weight: 500;
}

.global-nav__list {
  display: flex;
  -moz-column-gap: 75px;
       column-gap: 75px;
}
.global-nav__link {
  display: block;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
  transition: color 0.3s;
}
.global-nav__link:hover {
  color: #fff;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141900;
}

.section-visual .common-inner {
  display: flex;
  flex-direction: column;
  row-gap: 200px;
  padding-top: 175px;
}
@media screen and (min-width: 1920px) {
  .section-visual .common-inner {
    padding-top: 200px;
  }
}
.section-visual__headline {
  font-family: "Clashgrotesk", sans-serif;
  font-weight: 400;
  font-size: 110px;
  line-height: 1;
}
@media screen and (min-width: 1920px) {
  .section-visual__headline {
    font-size: 140px;
  }
}
.section-visual__row {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.section-visual .change-move {
  height: 110px;
  overflow: hidden;
}
@media screen and (min-width: 1920px) {
  .section-visual .change-move {
    height: 140px;
  }
}
.section-visual .change-move__inner {
  display: flex;
  flex-direction: column;
}
.section-visual .change-move__text {
  color: #cf0;
}
.section-visual__textbox {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 50%;
}
.section-visual__name {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
}
.section-visual__description {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 17px;
  line-height: 1.7;
  word-break: keep-all;
}
@media screen and (min-width: 1920px) {
  .section-visual__description {
    width: 80%;
  }
}