// loading
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-index--loading;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-dark-black;
}

// visual
.section-visual {
  .common-inner {
    display: flex;
    flex-direction: column;
    row-gap: 200px;
    padding-top: 175px;
    @include desktop-large {
      padding-top: 200px;
    }
  }
  &__headline {
    font-family: 'Clashgrotesk', sans-serif;
    font-weight: 400;
    font-size: 110px;
    line-height: 1;
    @include desktop-large {
      font-size: 140px;
    }
  }
  &__row {
    display: flex;
    column-gap: 20px;
  }
  .change-move {
    height: 110px;
    overflow: hidden;
    @include desktop-large {
      height: 140px;
    }
    &__inner {
      display: flex;
      flex-direction: column;
    }
    &__text {
      color: $color-primary;
    }
  }
  &__textbox {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 50%;
  }
  &__name {
    font-size: 16px;
    line-height: 1.25;
    color: $color-gray;
    letter-spacing: 2px;
  }
  &__description {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
    line-height: 1.7;
    word-break: keep-all;
    @include desktop-large {
      width: 80%;
    }
  }
}
